
.heading{
    position: relative;
    top: 0px; 
}
.container{
  font-family: "Roboto",;
}
.card{
    border: none    ;
}
.btn-light{
    border: 1px solid black;
}

.row{
    display: flex;
    /* flex-wrap: wrap;
    
    align-items: stretch; */
}

.row-card{
  display: flex;

}
.cart-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    border-radius: 8px; /* Optional: adds rounded corners */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
    max-width: 100%;
    
  }
  
  .cart-card:hover {
    transform: translateY(-4px); /* Slight lift on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
  }

  .danger{
    background-color: var(--primary-color);
    color:white
  }

  .danger:hover{
    background-color: var(--primary-color);
    color:white
  }

  .priceCard {
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow effect */
    border-radius: 8px; /* Optional: adds rounded corners */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    padding: 16px; /* Increased padding for content spacing */
    margin: 0 auto; /* Centers the card horizontally */
    height: auto; /* Ensure height is set to auto to fit content */
}

hr{
    padding: 0px;
    
}



.checkoutBtn{
 background: var(--primary-color);
 color: white; 
}

.checkoutBtn:hover{
  background: var(--primary-color);
  color: white; 
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
 }
 